<div class="p-gutter db px-10" gdColumns="1fr" gdColumns.lt-md="1fr" gdColumns.lt-sm="1fr" gdGap="12px" exaiContainer>

    <exai-table class="w-full shadow-none cardBorder" [tableOptions]="tableOptions" [dataSource]="dataSource"
        [displayedColumns]="displayedColumns" (actionPerformed)="print($event)" (cellClickEvent)="print($event)"
        (headerClicked)="print($event)" (headerDropdownSelection)="print($event)"
        gdColumn="1 / -1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
    </exai-table>

</div>