<div class="card px-8 w-full shadow-none" fxLayout="column">
    <div class="w-full flex justify-end p-3" *ngIf="tableOptions.showSearch">
        <mat-form-field>
            <input matInput type="text" [formControl]="searchControl" placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="exam-list">

        <table mat-table [dataSource]="dataSource" class="w-full db-table relative" matSort>
            <ng-container *ngFor="let column of displayedColumns; let columnIndex = index">
                <ng-container [matColumnDef]="column.id">
                
                    <ng-container *ngIf="column.headerType == 'checkbox'">
                        <th *matHeaderCellDef mat-header-cell>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()" >
                            </mat-checkbox>
                        </th>
                        <td *matCellDef="let element" mat-cell>
                            <mat-checkbox (change)="$event ? selection.toggle(element) : null"
                                (click)="$event.stopPropagation()" [checked]="selection.isSelected(element)" primary>
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="column.headerType == 'sort'; else withoutSorting">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            [ngClass]="column.headerCssClasses.join(' ')">
                            {{column.name}}
                            <span *ngIf="column.headerType === 'dropdown'" [matMenuTriggerFor]="columnMenu">
                                <mat-icon class="cursor-pointer">keyboard_arrow_down</mat-icon>
                            </span>
                            <mat-menu #columnMenu="matMenu" yPosition="below" xPosition="before">
                                <button mat-menu-item *ngFor="let option of column.dropDownActions">{{option}}</button>
                            </mat-menu>
                        </th>
                    </ng-container>
                    <ng-template #withoutSorting>
                        <th (click)="headerClickHandler(column)" mat-header-cell *matHeaderCellDef
                            [ngClass]="column.headerCssClasses.join(' ')">
                            {{column.name}}
                            <span *ngIf="column.headerType === 'dropdown'" [matMenuTriggerFor]="columnMenu">
                                <mat-icon class="cursor-pointer">keyboard_arrow_down</mat-icon>
                            </span>
                            <mat-menu #columnMenu="matMenu" yPosition="below" xPosition="before">
                                <button mat-menu-item *ngFor="let option of column.dropDownActions"
                                    (click)="headerDropdownSelectionHandler(column,option)">{{option}}</button>
                            </mat-menu>
                        </th>
                    </ng-template>

                    <ng-container *ngIf="['text','number','status'].includes(column.cellType); else actionTemplate">
                        <td mat-cell *matCellDef="let element; let i = index;"
                            (click)="cellClickHandler(column,element,i)"
                            [ngClass]="column.cellCssClasses?.join(' ')+' '+element.cellCssClasses?.join(' ')">
                            <mat-icon *ngIf="column.cellType == 'status'"
                                [style.color]="column.statuses[element[column.id]].color">
                                {{column.statuses[element[column.id]].icon}}</mat-icon>{{element[column.id]}}
                        </td>
                    </ng-container>
                    <ng-template #actionTemplate>
                        <td mat-cell *matCellDef="let element; let rowIndex = index;"
                            [ngClass]="column.cellCssClasses.join(' ')+' row'">
                            <ng-container *ngFor="let action of column.actions;let actionIndex = index">
                                <button *ngIf="element[column.id].includes(action.tooltip)">
                                    <mat-icon (click)="actionHandler(column,element,rowIndex,actionIndex)"
                                        [matTooltip]="action.tooltip" [style.color]="action.color">{{action.icon}}
                                    </mat-icon>
                                </button>
                            </ng-container>
                        </td>
                    </ng-template>
                </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsIndex" class="tab-col"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsIndex;"></tr>

        </table>
    </div>
    <mat-paginator *ngIf="tableOptions.showPaginator" [length]="100" [pageSize]="tableOptions.pageSize"
        [pageSizeOptions]="tableOptions.pageSizeOptions" class="paginator" #matPaginator>
    </mat-paginator>
</div>