.register {
  color: var(--text-register);
}

.highlight {
  color: var(--text-color-selected);
}

.exam-list {
  overflow: auto;
  th {
    color: var(--header-font);
    border-radius: var(--border-radius);
  }
}

.mat-row.hovered {
  background: var(--highlight-bgcolor);
  border-radius: var(--border-radius);
}

.mat-icon {
  font-size: 16px;
  vertical-align: top;
}

.filter {
  padding: 0.35rem 0.5rem 0.35rem 0.5rem;
  border-radius: var(--border-radius);
  border: var(--border);
  color: var(--text-register);
}

.onClickColor{
  color: var(--text-color-selected)!important;
}
