@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// exai Core
@import "./@exai/styles/core";
@import "./app/examroom-formbuilder/form-builder-styles.scss";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/


/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */

:root {
    // --color-primary: blue;
    // --color-primary-contrast: white;
    // --color-accent: yellow;
    // --color-accent-contrast: black;
    // --color-warn: yellow;
    // --color-warn-contrast: black;
}

.mat-tab-body-wrapper {
    width: 96%;
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height 500ms cubic-bezier(0.35, 0, 0.25, 1);
}